body {
    background-color: #98e59e33;
}
.all_page {
    border-radius: 20px;
    margin-top: 19px;
    margin-left: 30%;
    width: 40%;
    height: 585px;
    background: white;
}
img {
    width: 21%;
    margin: 26px 0px 10px 199px;
}
.input_div {
    margin-left: 88px;
}
label {
    font-size: 20px;
    font-weight: 700;
    color: darkgray;
    margin-left: 21px;
    margin-bottom: 27px;
    margin-top: 15px;
    margin-right: 18px;
}
input[type="text"] {
    margin-left: 32px;
    text-indent: 7px;
    border-radius: 20px;
    height: 38px;
}
input[type="number"] {
    margin-left: 29px;
    text-indent: 7px;
    border-radius: 20px;
    height: 38px;
}
input[type="email"] {
    margin-left: 38px;
    text-indent: 7px;
    border-radius: 20px;
    height: 38px;
}
input[type="password"] {
    border-radius: 20px;
    text-indent: 7px;
    height: 38px;
}
select {
    width: 41%;
    height: 36px;
    border-radius: 20px;
    margin-left: 51px;
    text-align: center;
    border: 2px solid #00000099;
}
button {
    margin-left: 23%;
    margin-top: 24px;
    font-size: revert;
    border: none;
    color: gray;
    background: #1b7a5e52;
    width: 33%;
    height: 33px;
    border-radius: 25px;
}